Repository OHCRN/platform, pull requests merged in 2023-12, with the labels that each got.

#293 🦺 PI DAS error handling for Clinician Invite flow (#275)
  apps/consent-api/src/routers/invites.ts
  apps/data-mapper/src/services/das/pi.ts
  apps/pi-das/package.json
  apps/pi-das/src/routers/clinicianInvites.ts
  apps/pi-das/src/routers/swagger.ts
  apps/pi-das/src/service/create.ts
  pnpm-lock.yaml
Labels: DAS

#295 🦺 Consent DAS error handling for Clinician Invite flow (#275)
  apps/consent-das/package.json
  apps/consent-das/src/routers/clinicianInvites.ts
  apps/consent-das/src/routers/swagger.ts
  apps/consent-das/src/service/create.ts
  apps/data-mapper/src/services/das/consent.ts
  apps/pi-das/src/service/create.ts
  pnpm-lock.yaml
Labels: DAS

#304 🚚 Rename service dir to services in DAS (#275)
  apps/consent-das/src/routers/clinicianInvites.ts
  apps/consent-das/src/routers/consentQuestions.ts
  apps/consent-das/src/routers/participantResponses.ts
  apps/consent-das/src/routers/participants.ts
  apps/consent-das/src/services/create.ts
  apps/consent-das/src/services/search.ts
  apps/consent-das/src/services/update.ts
  apps/keys-das/src/routers/clinicalProfileKeys.ts
  apps/keys-das/src/routers/ohipKeys.ts
  apps/keys-das/src/services/create.ts
  apps/keys-das/src/services/search.ts
  apps/phi-das/src/routers/clinicalProfiles.ts
  apps/phi-das/src/routers/ohip.ts
  apps/phi-das/src/services/create.ts
  apps/phi-das/src/services/search.ts
  apps/pi-das/src/routers/clinicianInvites.ts
  apps/pi-das/src/routers/participants.ts
  apps/pi-das/src/services/create.ts
  apps/pi-das/src/services/delete.ts
  apps/pi-das/src/services/search.ts
  apps/pi-das/src/services/update.ts
Labels: DAS, cleanup

#299 🎨 #289: change kebabs to camelCase in translations
  apps/consent-ui/src/components/common/Footer/APIVersionLabel.tsx
  apps/consent-ui/src/components/common/Footer/Left.tsx
  apps/consent-ui/src/components/common/Footer/Right.tsx
  apps/consent-ui/src/components/common/Footer/Versions.tsx
  apps/consent-ui/src/components/common/Header/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/ConsentForm.tsx
  apps/consent-ui/src/components/views/Dashboard/index.tsx
  apps/consent-ui/src/components/views/Home/LandingPageCard/index.tsx
  apps/consent-ui/src/components/views/Home/index.tsx
  apps/consent-ui/src/i18n/locales/en/birthSex.ts
  apps/consent-ui/src/i18n/locales/en/common.ts
  apps/consent-ui/src/i18n/locales/en/consentCategory.ts
  apps/consent-ui/src/i18n/locales/en/consentGroup.ts
  apps/consent-ui/src/i18n/locales/en/consentRecontact.ts
  apps/consent-ui/src/i18n/locales/en/consentReleaseData.ts
  apps/consent-ui/src/i18n/locales/en/consentResearchParticipation.ts
  apps/consent-ui/src/i18n/locales/en/consentReviewSign.ts
  apps/consent-ui/src/i18n/locales/en/dashboard.ts
  apps/consent-ui/src/i18n/locales/en/footer.ts
  apps/consent-ui/src/i18n/locales/en/geneticsClinic.ts
  apps/consent-ui/src/i18n/locales/en/header.ts
  apps/consent-ui/src/i18n/locales/en/historyOfCancer.ts
  apps/consent-ui/src/i18n/locales/en/index.ts
  apps/consent-ui/src/i18n/locales/en/informedConsent.ts
  apps/consent-ui/src/i18n/locales/en/landingPage.ts
  apps/consent-ui/src/i18n/locales/en/molecularLab.ts
  apps/consent-ui/src/i18n/locales/fr/birthSex.ts
  apps/consent-ui/src/i18n/locales/fr/common.ts
  apps/consent-ui/src/i18n/locales/fr/consentCategory.ts
  apps/consent-ui/src/i18n/locales/fr/consentGroup.ts
  apps/consent-ui/src/i18n/locales/fr/consentRecontact.ts
  apps/consent-ui/src/i18n/locales/fr/consentReleaseData.ts
  apps/consent-ui/src/i18n/locales/fr/consentResearchParticipation.ts
  apps/consent-ui/src/i18n/locales/fr/consentReviewSign.ts
  apps/consent-ui/src/i18n/locales/fr/dashboard.ts
  apps/consent-ui/src/i18n/locales/fr/footer.ts
  apps/consent-ui/src/i18n/locales/fr/geneticsClinic.ts
  apps/consent-ui/src/i18n/locales/fr/header.ts
  apps/consent-ui/src/i18n/locales/fr/historyOfCancer.ts
  apps/consent-ui/src/i18n/locales/fr/index.ts
  apps/consent-ui/src/i18n/locales/fr/informedConsent.ts
  apps/consent-ui/src/i18n/locales/fr/landingPage.ts
  apps/consent-ui/src/i18n/locales/fr/molecularLab.ts
  apps/consent-ui/src/i18n/utils/getTranslation.ts
Labels: consent-ui

#305 🦺 Data Mapper error handling for Clinician Invite flow (#275)
  apps/consent-api/src/services/create.ts
  apps/data-mapper/package.json
  apps/data-mapper/src/routers/invites.ts
  apps/data-mapper/src/services/create.ts
  apps/data-mapper/src/services/das/consent.ts
  apps/data-mapper/src/services/das/pi.ts
  packages/types/src/entities/ClinicianInvite/ClinicianInvite.ts
  pnpm-lock.yaml
Labels: data-mapper

#306 🥅 PI DAS error handling for `GET /clinician-invites/:inviteId` (#253)
  apps/pi-das/src/routers/clinicianInvites.ts
  apps/pi-das/src/routers/swagger-schemas/clinician-invite.yaml
  apps/pi-das/src/routers/swagger.ts
  apps/pi-das/src/services/search.ts
Labels: DAS

#307 🥅 #253 Consent DAS error handling to get invite by ID
  apps/consent-das/src/routers/clinicianInvites.ts
  apps/consent-das/src/routers/swagger-schemas/clinician-invite.yaml
  apps/consent-das/src/routers/swagger.ts
  apps/consent-das/src/services/search.ts
Labels: DAS

#281 💄 #187: Make the modal overlay mobile header
  apps/consent-ui/src/components/common/Modal/Modal.module.scss
Labels: consent-ui

#314 ✨ #253: Data Mapper route to get invite by ID
  apps/data-mapper/src/routers/invites.ts
  apps/data-mapper/src/services/create.ts
  apps/data-mapper/src/services/das/consent.ts
  apps/data-mapper/src/services/das/pi.ts
  apps/data-mapper/src/services/search.ts
Labels: data-mapper

#319 ✨ #317: Consent API route to get invite by ID
  apps/consent-api/src/routers/invites.ts
  apps/consent-api/src/services/create.ts
  apps/consent-api/src/services/search.ts
  apps/consent-api/tests/routers/invites.spec.ts
  apps/data-mapper/src/services/create.ts
  apps/data-mapper/src/services/search.ts
Labels: consent-api

#266 📝 164 - add registration flow diagram
  docs/registration-flow.md
Labels: documentation

#308 🥅 Consent DAS error handling to get Wizard responses (#255)
  apps/consent-das/src/routers/consentQuestions.ts
  apps/consent-das/src/routers/participantResponses.ts
  apps/consent-das/src/routers/participants.ts
  apps/consent-das/src/routers/swagger.ts
  apps/consent-das/src/services/search.ts
  packages/types/src/entities/ConsentQuestion.ts
  packages/types/src/entities/ParticipantResponse.ts
Labels: DAS

#320 ⬆️ 292 - upgrade nextjs to v14
  Jenkinsfile.groovy
  apps/consent-ui/package.json
  pnpm-lock.yaml
Labels: consent-ui

#318 ✨ #170: Consent API GET route for Informed Consent responses
  apps/consent-api/src/routers/steps/informedConsent.ts
  apps/consent-api/src/services/search.ts
  apps/consent-api/tests/README.md
  apps/consent-api/tests/routers/invites.spec.ts
  apps/consent-api/tests/routers/steps/informed-consent.spec.ts
Labels: consent-api

#324 🦺 #253: Validate request params in Get Invite flow
  apps/consent-api/src/routers/invites.ts
  apps/consent-api/tests/routers/invites.spec.ts
  apps/consent-das/src/routers/clinicianInvites.ts
  apps/data-mapper/src/routers/invites.ts
  apps/data-mapper/src/services/das/consent.ts
  apps/data-mapper/src/services/das/pi.ts
  apps/data-mapper/src/services/search.ts
  apps/pi-das/src/routers/clinicianInvites.ts
  apps/pi-das/src/services/search.ts
Labels: cleanup

#326 delete unused package. update base tsconfig
  packages/common/src/utils/tsUtils.ts
  tsconfig.base.json
Labels: cleanup

#327 📝 Update router testing and shared types docs
  apps/consent-api/src/routers/invites.ts
  apps/consent-api/tests/README.md
  apps/consent-api/tests/config.ts
  docs/shared-types.md
  packages/types/src/entities/ClinicianInvite/PIClinicianInvite.ts
  packages/types/src/entities/ParticipantIdentification.ts
Labels: documentation
