Repository OHCRN/platform, pull requests merged in 2023-11, with the labels that each got.

#229 ✏️ Rename classes to className
  apps/consent-ui/src/components/Home/Card/Card.tsx
  apps/consent-ui/src/components/Home/Card/CardLink/index.tsx
  apps/consent-ui/src/components/Icons/Arrow.tsx
  apps/consent-ui/src/components/Icons/CheckmarkCircle.tsx
  apps/consent-ui/src/components/Icons/Chevron.tsx
  apps/consent-ui/src/components/Icons/Close.tsx
  apps/consent-ui/src/components/Icons/Doctor.tsx
  apps/consent-ui/src/components/Icons/ExclamationTriangle.tsx
  apps/consent-ui/src/components/Icons/Family.tsx
  apps/consent-ui/src/components/Icons/Help.tsx
  apps/consent-ui/src/components/Icons/InfoCircle.tsx
  apps/consent-ui/src/components/Notification/DismissButton.tsx
Labels: consent-ui

#230 💄 Update icon button styles
  apps/consent-ui/src/components/Button/Button.module.scss
  apps/consent-ui/src/components/Button/LinkButton.tsx
  apps/consent-ui/src/components/Button/index.tsx
  apps/consent-ui/src/components/Header/Header.module.scss
  apps/consent-ui/src/components/Header/HelpButton.tsx
  apps/consent-ui/src/components/Home/Home.module.scss
  apps/consent-ui/src/components/Home/index.tsx
Labels: consent-ui

#246 🚚 Rename service dir to services in data-mapper
  apps/data-mapper/src/routers/participants.ts
  apps/data-mapper/src/services/create.ts
  apps/data-mapper/src/services/search.ts
Labels: data-mapper

#247 ➕ Add axios to data-mapper
  apps/data-mapper/package.json
  apps/data-mapper/src/services/axiosClient.ts
  apps/data-mapper/src/services/create.ts
  apps/data-mapper/src/services/search.ts
  pnpm-lock.yaml
Labels: data-mapper

#251 💄🩹 shrink landing page image
  apps/consent-ui/src/components/Home/index.tsx
  apps/consent-ui/src/public/landing-page.jpg
Labels: consent-ui

#244 ✅ Clean up types unit tests
  packages/types/tests/entities/Ancestry.spec.ts
  packages/types/tests/entities/BirthSex.spec.ts
  packages/types/tests/entities/ClinicalProfile.spec.ts
  packages/types/tests/entities/ClinicianInvite.spec.ts
  packages/types/tests/entities/Gender.spec.ts
  packages/types/tests/entities/GeneticsClinic.spec.ts
  packages/types/tests/entities/HistoryOfCancer.spec.ts
  packages/types/tests/entities/InformedConsent.spec.ts
  packages/types/tests/entities/Name.spec.ts
  packages/types/tests/entities/OhipNumber.spec.ts
  packages/types/tests/entities/ParticipantResponse.spec.ts
  packages/types/tests/entities/PhoneNumber.spec.ts
  packages/types/tests/entities/PostalCode.spec.ts
Labels: shared-dependencies, cleanup

#267 ✨ Reusable wrapper to validate RequestHandlers using ZodSchemas
  Jenkinsfile.groovy
  apps/consent-api/.mocharc.json
  apps/consent-api/package.json
  apps/consent-api/src/config.ts
  apps/consent-api/src/index.ts
  apps/consent-api/src/middleware/recaptcha.ts
  apps/consent-api/src/middleware/withRequestBodyValidation.ts
  apps/consent-api/src/routers/consentCompletion.ts
  apps/consent-api/src/routers/consentQuestions.ts
  apps/consent-api/src/routers/invites.ts
  apps/consent-api/src/routers/participantResponses.ts
  apps/consent-api/src/routers/participants.ts
  apps/consent-api/src/routers/status.ts
  apps/consent-api/src/routers/steps/consentRecontact.ts
  apps/consent-api/src/routers/steps/consentReleaseData.ts
  apps/consent-api/src/routers/steps/consentResearchParticipation.ts
  apps/consent-api/src/routers/steps/consentReviewSign.ts
  apps/consent-api/src/routers/steps/index.ts
  apps/consent-api/src/routers/steps/informedConsent.ts
  apps/consent-api/src/routers/swagger.ts
  apps/consent-api/src/routers/user.ts
  apps/consent-api/src/routers/wizard.ts
  apps/consent-api/src/server.ts
  apps/consent-api/tests/middleware/withRequestBodyValidation.spec.ts
  apps/consent-api/tsconfig.json
  apps/consent-das/src/index.ts
  apps/consent-ui/.mocharc.json
  apps/pi-das/src/index.ts
  packages/error-handler/package.json
  packages/error-handler/src/index.ts
  packages/types/.mocharc.json
  packages/types/package.json
  packages/types/src/httpErrors/ErrorResponse.ts
  packages/types/src/httpErrors/RequestValidationErrorResponse.ts
  packages/types/src/httpErrors/index.ts
  pnpm-lock.yaml
Labels: consent-api

#240 📝 Add Pull Request Template
  .github/pull_request_template.md
Labels: documentation, chore

#284 🚚 Rename service dir to services (#168)
  apps/consent-api/src/routers/consentQuestions.ts
  apps/consent-api/src/routers/participantResponses.ts
  apps/consent-api/src/routers/participants.ts
  apps/consent-api/src/services/participantResponses.ts
  apps/consent-api/src/services/search.ts
Labels: consent-api, cleanup
