Repository OHCRN/platform, pull requests merged in 2024-03, with the labels that each got.

#464 🗃️#452: Add hasOhip field to Participant prisma model
  apps/pi-das/prisma/migrations/20240229163203_has_ohip_field/migration.sql
  apps/pi-das/prisma/schema.prisma
Labels: DAS

#448 💄#406: Mobile hamburger menu
  apps/consent-ui/public/assets/images/close-icon.svg
  apps/consent-ui/public/assets/images/hamburger.svg
  apps/consent-ui/src/components/common/Header/HamburgerMenu/HamburgerMenu.module.scss
  apps/consent-ui/src/components/common/Header/HamburgerMenu/index.tsx
  apps/consent-ui/src/components/common/Header/Header.module.scss
  apps/consent-ui/src/components/common/Header/Header.tsx
  apps/consent-ui/src/components/common/Header/index.tsx
  apps/consent-ui/src/i18n/locales/en/header.ts
  apps/consent-ui/src/i18n/locales/fr/header.ts
Labels: consent-ui

#475 🐛 bugfix: change how ReactModal finds root element
  apps/consent-ui/src/components/common/Modal/index.tsx
Labels: bug, consent-ui

#488 fix incorrect dictionary import
  apps/consent-ui/src/i18n/locales/fr/consentResearchParticipationForm.ts
Labels: consent-ui

#473 🗃️#458: Add missing fields for data model v5.0
  apps/phi-das/prisma/migrations/20240307194322_data_model_v5_update/migration.sql
  apps/phi-das/prisma/schema.prisma
  apps/pi-das/prisma/migrations/20240307194410_data_model_v5_update/migration.sql
  apps/pi-das/prisma/schema.prisma
Labels: DAS

#491 🗃️#411: Update ClinicianInvite Schema participant name fields
  apps/consent-api/tests/routers/invites.spec.ts
  apps/consent-ui/src/components/views/Invite/ClinicianInviteForm/index.tsx
  apps/data-mapper/src/services/create.ts
  apps/pi-das/prisma/migrations/20240312200141_update_clinician_invite_participant_name_fields/migration.sql
  apps/pi-das/prisma/migrations/20240313144755_clinician_invite_email_and_phone_nullable/migration.sql
  apps/pi-das/prisma/schema.prisma
  apps/pi-das/prisma/seed/seed-data.ts
  packages/types/src/entities/ClinicianInvite.ts
  packages/types/tests/entities/ClinicianInvite.spec.ts
Labels: consent-ui, DAS, data-mapper, shared-dependencies

#474 💄#471: Calendar alignment & month + year dropdown
  apps/consent-ui/src/components/common/Form/fieldsets/CalendarFieldSet/CalendarFieldSet.module.scss
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/CalendarInput.tsx
Labels: consent-ui

#501 🔊 Add Verbose Logging for Debugging (Temporary)
  apps/consent-ui/next.config.js
  apps/consent-ui/src/app/[lang]/dashboard/page.tsx
  apps/consent-ui/src/app/[lang]/page.tsx
  apps/consent-ui/src/app/authConfig.ts
  apps/consent-ui/src/middleware.ts
Labels: consent-ui

#505 💄 add favicon
  apps/consent-ui/src/app/favicon.ico
Labels: consent-ui

#524 ♻️ 476 - create Register base type
  packages/types/src/entities/Register.ts
  packages/types/src/entities/index.ts
  packages/types/src/services/consentUi/requests/Register.ts
  packages/types/src/services/consentUi/utils/guardianFields.ts
  packages/types/tests/services/participantRegistrationRefinements.spec.ts
Labels: consent-ui
