Repository OHCRN/platform, pull requests merged in 2024-02, with the labels that each got.

#417 💄#357: update tooltips
  apps/consent-ui/src/components/common/Form/fieldsets/CalendarFieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/FieldSet/FieldSet.module.scss
  apps/consent-ui/src/components/common/Form/fieldsets/FieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/SelectFieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/TextFieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/types.ts
  apps/consent-ui/src/components/views/Invite/ClinicianInviteForm/index.tsx
  apps/consent-ui/src/components/views/Register/RegisterForm/FormStep1.tsx
  apps/consent-ui/src/components/views/Register/RegisterForm/FormStep2.tsx
  apps/consent-ui/src/i18n/locales/en/formTooltips.ts
  apps/consent-ui/src/i18n/locales/fr/formTooltips.ts
Labels: consent-ui

#418 🐛#362: Fix unique key warning in consent wizard header
  apps/consent-ui/src/components/common/ProgressHeader/index.tsx
Labels: consent-ui

#356 🌐 #313: add function to translate namespace
  apps/consent-ui/src/components/common/BackToDashboard/index.tsx
  apps/consent-ui/src/components/common/Footer/APIVersionLabel.tsx
  apps/consent-ui/src/components/common/Footer/Left.tsx
  apps/consent-ui/src/components/common/Footer/Links.tsx
  apps/consent-ui/src/components/common/Footer/Right.tsx
  apps/consent-ui/src/components/common/Footer/Versions.tsx
  apps/consent-ui/src/components/common/Footer/index.tsx
  apps/consent-ui/src/components/common/Header/LanguageToggle/index.tsx
  apps/consent-ui/src/components/common/Header/index.tsx
  apps/consent-ui/src/components/common/ProgressHeader/index.tsx
  apps/consent-ui/src/components/layouts/SideImageLayout/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/ConsentStepsNavigation/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/InformedConsent/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/index.tsx
  apps/consent-ui/src/components/views/Dashboard/index.tsx
  apps/consent-ui/src/components/views/Dashboard/notifications/ConsentCompleteNotification.tsx
  apps/consent-ui/src/components/views/Dashboard/notifications/ConsentInProgressNotification.tsx
  apps/consent-ui/src/components/views/Dashboard/notifications/EmailVerifiedNotification.tsx
  apps/consent-ui/src/components/views/Home/LandingPageCard/index.tsx
  apps/consent-ui/src/components/views/Home/index.tsx
  apps/consent-ui/src/components/views/Home/notifications/InviteSentNotification.tsx
  apps/consent-ui/src/components/views/Invite/ClinicianInviteForm/index.tsx
  apps/consent-ui/src/components/views/Invite/ConsentGroupModal/index.tsx
  apps/consent-ui/src/components/views/Invite/index.tsx
  apps/consent-ui/src/components/views/Register/index.tsx
  apps/consent-ui/src/i18n/types/dictionaries.ts
  apps/consent-ui/src/i18n/utils/getTranslation.ts
  docs/translations.md
Labels: consent-ui, low-priority

#428 ✏️ change __blank to _blank
  apps/consent-ui/src/components/views/ConsentWizard/InformedConsent/index.tsx
Labels: consent-ui

#420 💄#405: make sidebar fixed
  apps/consent-ui/src/components/common/Footer/Footer.module.scss
  apps/consent-ui/src/components/layouts/SideImageLayout/SideImageLayout.module.scss
  apps/consent-ui/src/components/layouts/SideImageLayout/index.tsx
Labels: consent-ui

#425 🐛#424: Fix homepage background
  apps/consent-ui/src/components/views/Home/Home.module.scss
  apps/consent-ui/src/components/views/Home/notifications/HomepageNotification/HomepageNotification.module.scss
Labels: consent-ui

#395 💄#348: OHIP component
  apps/consent-ui/src/components/common/Form/fieldsets/OhipFieldSet/OhipFieldSet.module.scss
  apps/consent-ui/src/components/common/Form/fieldsets/OhipFieldSet/index.tsx
Labels: consent-ui

#440 🐛 Fix Dockerfile Builds for Backend Services
  Dockerfile
Labels: infra

#421 💄#286: translate recaptcha
  apps/consent-ui/src/components/common/Form/RecaptchaCheckbox/index.tsx
  apps/consent-ui/src/components/views/Invite/ClinicianInviteForm/index.tsx
  apps/consent-ui/src/components/views/Register/RegisterForm/FormStep2.tsx
  apps/consent-ui/src/hooks/useRecaptcha.tsx
Labels: consent-ui

#442 🐛 Fix Static Assets in Consent UI Docker Images
  Dockerfile
Labels: consent-ui, infra

#410 ✨#272: Consent wizard step 4
  apps/consent-ui/src/components/views/ConsentWizard/ConsentRecontact/ConsentRecontact.module.scss
  apps/consent-ui/src/components/views/ConsentWizard/ConsentRecontact/ConsentRecontactForm/ConsentRecontactForm.module.scss
  apps/consent-ui/src/components/views/ConsentWizard/ConsentRecontact/ConsentRecontactForm/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/ConsentRecontact/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/index.tsx
  apps/consent-ui/src/i18n/locales/en/consentRecontactForm.ts
  apps/consent-ui/src/i18n/locales/en/consentRecontactPage.ts
  apps/consent-ui/src/i18n/locales/en/index.ts
  apps/consent-ui/src/i18n/locales/fr/consentRecontactForm.ts
  apps/consent-ui/src/i18n/locales/fr/consentRecontactPage.ts
  apps/consent-ui/src/i18n/locales/fr/index.ts
Labels: consent-ui

#449 🐛#443: Update link styling for ReviewInfoCard
  apps/consent-ui/src/components/common/Form/RequiredAsterisk/index.tsx
  apps/consent-ui/src/components/common/ReviewInfoCard/ReviewInfoCard.module.scss
  apps/consent-ui/src/theme/_mixins.scss
Labels: consent-ui

#461 ♻️ Refactor Environment Variable Usage (#446)
  apps/consent-ui/src/app/[lang]/layout.tsx
  apps/consent-ui/src/app/api/[...proxy]/route.ts
  apps/consent-ui/src/app/api/protected/[...proxy]/route.ts
  apps/consent-ui/src/app/api/ready/route.ts
  apps/consent-ui/src/app/authConfig.ts
  apps/consent-ui/src/components/providers/AppConfigContextProvider/index.tsx
  apps/consent-ui/src/components/views/ConsentWizard/InformedConsent/index.tsx
  apps/consent-ui/src/components/views/Home/index.tsx
  apps/consent-ui/src/config/appConfig.ts
  apps/consent-ui/src/config/clientConfig.ts
  apps/consent-ui/src/services/api/axiosClient.ts
  apps/consent-ui/src/services/api/axiosProxyClient.ts
  apps/consent-ui/src/services/api/utils/encryption.ts
Labels: consent-ui, infra

#462 🚩 Add Feature Flag to Bypass Auth in Local Dev (#370)
  README.md
  apps/consent-ui/.env.schema
  apps/consent-ui/src/app/authConfig.ts
  apps/consent-ui/src/config/appConfig.ts
Labels: consent-ui

#463 ♻️ Refactor `Footer` Client-Server Component Usage (#446)
  apps/consent-ui/src/components/common/Footer/APIVersion.tsx
  apps/consent-ui/src/components/common/Footer/APIVersionLabel.tsx
  apps/consent-ui/src/components/common/Footer/Versions.tsx
Labels: consent-ui
