Repository OHCRN/platform, pull requests merged in 2024-01, with the labels that each got.

#360 📝: Specify which API keys to use in setup
  README.md
Labels: documentation

#364 🔨 Add Dockerfile Build Targets for Backend Services (#36)
  .dockerignore
  Dockerfile
  Jenkinsfile.groovy
  Makefile
  README.md
  apps/consent-api/package.json
  apps/consent-das/package.json
  apps/consent-das/prisma/schema.prisma
  apps/consent-ui/package.json
  apps/data-mapper/package.json
  apps/keys-das/package.json
  apps/keys-das/prisma/schema.prisma
  apps/phi-das/package.json
  apps/phi-das/prisma/schema.prisma
  apps/pi-das/package.json
  apps/pi-das/prisma/schema.prisma
  docker-compose.yaml
  docs/docker-usage.md
  package.json
  packages/config/eslint-config-ohcrn/package.json
  packages/express-request-validation/package.json
Labels: infra

#373 💄 #372: persist "consent in progress" notification
  apps/consent-ui/src/components/views/Dashboard/notifications/ConsentInProgressNotification.tsx
  apps/consent-ui/src/components/views/Dashboard/notifications/DashboardNotification/DashboardNotificationDisplay.tsx
  apps/consent-ui/src/components/views/Dashboard/notifications/DashboardNotification/index.tsx
Labels: consent-ui

#385 🚚 #384: move /public folder to root
  apps/consent-ui/public/assets/images/arrow.svg
  apps/consent-ui/public/assets/images/checkbox-selected.svg
  apps/consent-ui/public/assets/images/checkmark.svg
  apps/consent-ui/public/assets/images/chevron-large.svg
  apps/consent-ui/public/assets/images/chevron.svg
  apps/consent-ui/public/assets/images/consents.jpeg
  apps/consent-ui/public/assets/images/doctor.svg
  apps/consent-ui/public/assets/images/family.svg
  apps/consent-ui/public/assets/images/github.svg
  apps/consent-ui/public/assets/images/incomplete.svg
  apps/consent-ui/public/assets/images/info.svg
  apps/consent-ui/public/assets/images/inprogress.svg
  apps/consent-ui/public/assets/images/instagram.svg
  apps/consent-ui/public/assets/images/invite-bg.jpg
  apps/consent-ui/public/assets/images/landing-page.jpg
  apps/consent-ui/public/assets/images/ohcrn_large.svg
  apps/consent-ui/public/assets/images/oicr-logo-gray-en.svg
  apps/consent-ui/public/assets/images/oicr.svg
  apps/consent-ui/public/assets/images/on_govt.svg
  apps/consent-ui/public/assets/images/overture.svg
  apps/consent-ui/public/assets/images/success.svg
  apps/consent-ui/public/assets/images/twitter.svg
  apps/consent-ui/public/assets/pdfs/PLACEHOLDER_study-consent_EN.pdf
  apps/consent-ui/public/assets/pdfs/PLACEHOLDER_study-consent_FR.pdf
  apps/consent-ui/src/components/common/Footer/Left.tsx
  apps/consent-ui/src/components/common/Footer/Right.tsx
  apps/consent-ui/src/components/common/Footer/Versions.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/CheckboxFieldSet/CheckboxFieldSet.module.scss
  apps/consent-ui/src/components/common/Form/fieldsets/SelectFieldSet/SelectFieldSet.module.scss
  apps/consent-ui/src/components/common/Header/index.tsx
  apps/consent-ui/src/components/common/InfoButton/index.tsx
  apps/consent-ui/src/components/layouts/SideImageLayout/index.tsx
  apps/consent-ui/src/components/views/Dashboard/index.tsx
  apps/consent-ui/src/components/views/Home/Home.module.scss
  apps/consent-ui/src/components/views/Home/index.tsx
  apps/consent-ui/src/components/views/Invite/index.tsx
Labels: consent-ui

#387 🦺 #381 - improve invite validation
  apps/consent-ui/src/components/common/Form/fieldsets/CheckboxFieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/CheckboxInput.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/SelectInput.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/TextInput.tsx
  apps/consent-ui/src/components/layouts/SideImageLayout/SideImageLayout.module.scss
  apps/consent-ui/src/components/views/Invite/ClinicianInviteForm/index.tsx
  docs/forms.md
Labels: consent-ui

#397 🐛#396: Fix Help button height in Safari
  apps/consent-ui/src/components/common/Header/HelpButton.module.scss
Labels: consent-ui

#380 💄#347: Add radio button component
  apps/consent-ui/src/components/common/Form/fieldsets/RadioFieldSet/RadioFieldSet.module.scss
  apps/consent-ui/src/components/common/Form/fieldsets/RadioFieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/RadioBooleanInput.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/RadioStringInput.tsx
Labels: consent-ui

#383 💄#245: Calendar form component
  apps/consent-ui/package.json
  apps/consent-ui/src/components/common/Form/fieldsets/CalendarFieldSet/CalendarFieldSet.module.scss
  apps/consent-ui/src/components/common/Form/fieldsets/CalendarFieldSet/index.tsx
  apps/consent-ui/src/components/common/Form/fieldsets/inputs/CalendarInput.tsx
  pnpm-lock.yaml
Labels: consent-ui
